/* GIVE NOW BUTTON */

.GNbutton {
	-moz-box-shadow: 3px 3px 0px 0px #7f9a13;
	-webkit-box-shadow: 3px 3px 0px 0px #7f9a13;
	box-shadow: 3px 3px 0px 0px #7f9a13;
	background-color: #b3d235;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	color: #ffffff;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, Arial, sans-serif;
	font-size: 23px;
	padding: 10px 20px;
	text-decoration: none;
	float: right;
	margin: 0 0 10px 20px;
}
.GNbutton: hover {
	background-color: #a3c02f;
}
.GNbutton: active {
	position: relative;
	top: 1px;
}
